numpy
scipy
pandas
pyarrow
matplotlib
seaborn
scikit-learn
statsmodels
tqdm
yfinance
# The following should be different for linux and windows
# --extra-index-url https://download.pytorch.org/whl/cu117
# torch==1.13.0+cu117
# torchaudio==0.13.0+cu117
# torchvision==0.14.0+cu117
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0

